@model IEnumerable<BOL.Doctor>
@{
    ViewBag.Title = "ListDoctors";
}

<h2 style="text-align:center">Doctors Available</h2>
<br />
<br />
<div style="font-family:Arial">

    <ul>
        @foreach (BOL.Doctor doctor in @Model)
        {
            <li>
                @doctor.Lastname
                @Html.ActionLink(doctor.Firstname, "details",
                             new { name = doctor.Firstname })
            </li>
        }
    </ul>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
