@model IEnumerable<BOL.Doctor>
@{
    ViewBag.Title = "ListDoctors";
}
<div style="padding:200px 550px">
    <h2 style="text-align:center">Doctors Available</h2>
    <br />
    <br />
    <div style="font-family:Arial">

        <ul>
            @foreach (BOL.Doctor doctor in @Model)
            {
            <li>
                Dr. @doctor.Firstname @doctor.Lastname
                @{
                    TempData["dfirstname"] = doctor.Firstname;
                    TempData["dlastname"] = doctor.Lastname;
                }
                @Html.ActionLink("Details", "Details", "Patient")
            </li>
            }
        </ul>
    </div>
    <br />
    <input type='button' onclick='history.back();' value='Go Back' />
</div>